:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: font-family: 'Raleway', sans-serif;
  --main-color: #2196F3;
  --black-color:#212121;
  --white-color:#FFFFFF;
  --address-color:#757575;
  --description-color:#2F303A;
  --crew-background: #F5F4FA;
  --icon-color:#AFB1B8;
  --border-clients:#AFB1B8;
  --media-bgr-footer:rgba(255, 255, 255, 0.1);
  --hover-portfolio: rgba(33, 150, 243, 0.9);
  --header-underline-border: #ECECEC;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 480px;
  align-items: center;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  display: none;
  padding: 94px 0px;
}

body {
  font-family: var(--main-font);
  color: var(--black-color);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
}

/* ============ LOGO COLOR IN HEADER =========== */
.logo__span {
  color: var(--black-color);
}

.heading__logo {
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 15px;
  font-size: 26px;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
}

.decoration {
  list-style: none;
}

@media screen and (min-width: 480px) {
  .nav,
  .nav__list,
  .decoration {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav,
  .nav__list,
  .decoration {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav,
  .nav__list,
  .decoration {
    display: none;
  }
}

.heading {
  border-bottom: 1px solid var(--header-underline-border);
  height: 60px;
}

.navigation {
  display: flex;
}

.nav__item:not(:last-child) {
  display: block;
  margin-right: 46px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.nav__link:hover, .nav__link:focus {
  color: var(--main-color);
}

.active {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-top: 32px;
}

.active::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  margin-top: 28px;
}

@media screen and (min-width: 480px) {
  .heading {
    height: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .heading {
    border-bottom: 1px solid var(--header-underline-border);
  }
  .navigation {
    display: flex;
  }
  .nav__item:not(:last-child) {
    display: block;
    margin-right: 46px;
  }
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--black-color);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--main-color);
  }
  .active {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-top: 32px;
  }
  .active::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    margin-top: 28px;
  }
}

.main {
  padding: 118px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/Images/Hero/Header img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 15px auto;
}

.description__list {
  margin-bottom: 30px;
  list-style: none;
}

.description__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--crew-background);
  border-radius: 4px;
}

.description__name {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description__text {
  color: var(--address-color);
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  color: var(--black-color);
}

.hover-transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.what__we__do {
  text-align: center;
}

.second__heading {
  margin-bottom: 50px;
}

.company__services {
  display: flex;
  justify-content: space-evenly;
}

.company__services--list {
  position: relative;
  overflow: hidden;
  list-style-type: none;
}

.company__services--img {
  width: 370px;
  height: 294px;
}

.company__services--layer {
  position: absolute;
  width: 370px;
  height: 70px;
  text-align: center;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
  bottom: 4px;
  padding: 27px;
}

.second__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  font-family: var(--main-font);
  text-align: center;
  padding: 30px 15px;
  padding-top: 60px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.section__gallery {
  background-color: var(--crew-background);
}

.gallery__list {
  display: block;
  background-color: var(--white-color);
  list-style-type: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
  height: auto;
}

.gallery__list:not(:last-child) {
  margin-bottom: 30px;
}

.gallery__photo {
  width: 450px;
  height: auto;
}

.gallery__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  color: var(--black-color);
}

.gallery__member--stand {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px 0 16px;
  color: var(--description-color);
}

.gallery__media {
  display: flex;
  align-items: center;
  width: 206px;
  margin: auto;
  margin-bottom: 24px;
}

.gallery__media--list {
  display: flex;
  list-style-type: none;
}

.gallery__media--list:not(:last-child) {
  margin-right: 10px;
}

.gallery__media--link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  background-color: var(--white-color);
}

.gallery__media--link:hover, .gallery__media--link:focus {
  fill: var(--white-color);
  background-color: var(--main-color);
}

.gallery__media--icon:hover {
  fill: var(--white-color);
}

.clients {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.client__list {
  display: flex;
  position: relative;
  border: 1px solid var(--border-clients);
  border-radius: 4px;
  height: 92px;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: space-between;
  border-radius: 4px;
  margin-bottom: 15px;
}

.client__list:hover, .client__list:focus {
  border: 1px solid var(--main-color);
}

.client__link {
  width: 210px;
  height: 92px;
  display: flex;
  fill: var(--icon-color);
  align-items: center;
  justify-content: center;
}

.client__link:hover, .client__link:focus {
  fill: var(--main-color);
}

.client__logo {
  display: flex;
  align-items: center;
}

.client__logo:hover, .client__logo:focus {
  fill: var(--main-color);
}

.contact__footer {
  background-color: var(--description-color);
}

.footer__heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.contact__list {
  text-align: center;
  margin-bottom: 60px;
  list-style-type: none;
}

.newsletter {
  text-align: center;
}

.bottom-logo {
  color: var(--white-color);
}

.section__links {
  text-align: center;
  margin-bottom: 60px;
}

.footer__flex {
  padding: 60px 15px;
}

.contact__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--address-color);
}

.contact__item:hover, .contact__item:focus {
  color: var(--main-color);
}

.contact__item-w {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contact__item-w:hover, .contact__item-w:focus {
  color: var(--main-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-4);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: var(--black-color);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.modal__btn:hover {
  cursor: pointer;
}

.modal__icon {
  position: absolute;
  transform: translate(-50%, -50%);
  fill: var(--black-color);
}

.modal__registration {
  display: flex;
  flex-direction: column;
}

.modal__registration--title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 30px;
}

.modal__window {
  margin-right: 40px;
  margin-bottom: 10px;
  margin-left: 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__window--label {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__window--content {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__window--content:focus {
  border-color: #2196F3;
  outline: none;
}

.modal__window--icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window--comment {
  outline: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window--comment:focus {
  border-color: #2196F3;
  outline: none;
}

.policy {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.policy__text {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--address-color);
  margin-left: auto;
  margin-right: auto;
}

.policy__text::before {
  display: inline-flex;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__text > a {
  color: var(--main-color);
  cursor: pointer;
}

.policy__checkbox:checked + .policy__text::before {
  background-color: var(--main-color);
  background-size: contain;
  background-image: url(../Images/check.svg);
  border: none;
}

.modal__submit--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: var(--hover-portfolio);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
  border-style: none;
  margin: 30px auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit--btn:hover, .modal__submit--btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.modal__window--content:focus + .modal__window--icon {
  fill: var(--main-color);
}

.btn__list {
  display: flex;
  flex-wrap: wrap;
}

.btn__list--item {
  list-style-type: none;
}

.btn__list--item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.btn__list {
  padding: 60px 0 40px;
}

.btn__list--icon {
  height: 38px;
}

.btn__list--icon {
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  color: var(--black-color);
  background: var(--crew-background);
}

.btn__list--icon:hover, .btn__list--icon:focus {
  background-color: var(--main-color);
  cursor: pointer;
}

.section-img {
  display: flex;
}

.img__list--item {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 404px;
  display: block;
  list-style-type: none;
  margin-bottom: 30px;
}

.img__list--item:hover, .img__list--item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img__list--item {
  margin-bottom: 30px;
}

.img__list--item:hover .img__list--overlay {
  transform: translateY(0);
}

.img__list--overlay {
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 370px;
  height: 294px;
  background: var(--blue);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img__list--text {
  position: absolute;
  padding: 49px 29px;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 28px;
  background-color: var(--hover-portfolio);
  color: var(--white-color);
}

.img__list--photo {
  position: absolute;
  display: block;
  width: 370px;
  height: 294px;
}

.img__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img__text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
  width: 370px;
  padding: 20px 24px 24px;
  border: 1px solid #EEEEEE;
}

.img__text--name {
  width: 322px;
  height: 36px;
  padding-bottom: 4px;
}

.img__text--name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.img__text--function {
  width: 322px;
  height: 30px;
}

.img__text--function {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--address-color);
}

.main__text {
  padding: 0 40px;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  font-size: 26px;
  align-items: center;
  font-weight: 900;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.main__button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: var(--main-color);
  color: var(--white-color);
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .heading__icon,
  .heading__item,
  .heading__contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .heading__icon,
  .heading__item,
  .heading__contact {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .heading__icon {
    margin-right: 10px;
  }
  .heading__icon:hover, .heading__icon:focus {
    fill: var(--main-color);
  }
  .heading__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: var(--address-color);
  }
  .heading__item:hover, .heading__item:focus {
    fill: var(--main-color);
  }
  .heading__item:not(:last-child) {
    margin-left: 345px;
  }
  .heading__item:last-child {
    margin-left: 30px;
  }
  .heading__contact {
    color: var(--address-color);
    display: inline;
    align-items: center;
  }
  .heading__contact:hover, .heading__contact:focus {
    color: var(--main-color);
  }
}

.newsletter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
}

.newsletter__btn:hover, .newsletter__btn:focus {
  cursor: pointer;
}

.newsletter__icon {
  fill: var(--white-color);
  margin-left: 24px;
}

.newsletter__title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: var(--white-color);
}

.newsletter__email {
  margin-right: 12px;
  margin-top: 20px;
  padding: 16px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  margin-bottom: 20px;
  line-height: 1.25;
}

.media__footer {
  text-align: center;
  margin-bottom: 60px;
}

.media__footer--heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.list {
  display: flex;
  justify-content: center;
}

.list__footer {
  display: inline-flex;
  list-style-type: none;
}

.list__footer:not(:last-child) {
  margin-right: 10px;
}

.list__footer--link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
  background-color: var(--media-bgr-footer);
}

.list__footer--link:hover, .list__footer--link:focus {
  background-color: var(--main-color);
}

.mobile__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border-style: none;
}

.mobile__btn:focus {
  fill: var(--main-color);
}

.mobile {
  background-color: var(--white-color);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: white;
  transition: var(--transition-cubic-bezier-backdrop-750ms);
}

.mobile__nav {
  font-size: 40px;
  margin-top: 8px;
  margin-bottom: 300px;
  list-style-type: none;
}

.mobile__nav--list {
  margin-bottom: 36px;
}

.mobile__nav--link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.mobile__contact {
  display: flex;
  flex-direction: column;
}

.mobile__contact--link {
  width: 267px;
  font-weight: 500;
  font-size: 33px;
  line-height: 47px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  text-decoration: none;
  color: var(--main-color);
}

.mobile__contact--link:last-child {
  margin-bottom: 64px;
  color: var(--address-color);
  font-size: 24px;
  line-height: 28px;
}

.mobile__media {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.mobile__media--list:not(:last-child) {
  border-right: 1px solid rgba(21, 21, 21, 0.2);
  padding-right: 10px;
}

.mobile__media--list:not(:first-child) {
  padding-left: 10px;
}

.mobile__media--link {
  text-decoration: none;
  color: var(--main-color);
}

.mobile__close {
  position: absolute;
  top: 20px;
  left: 425px;
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
}
/*# sourceMappingURL=main.css.map */