.main {
    padding: 200px 0 200px 0;
    flex-direction:column;
    display: flex;
    align-items: center;
    height: 600px;
    background-image:url(../Images/Img-background.jpg);
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
}
