
@media screen and (max-width:767px){
.main {
    padding: 118px 0;
    flex-direction:column;
    display: flex;
    align-items: center;
    background-image:linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url("../Images/Hero/Header\ img@1x.jpg"), url("../Images/Hero/Header\ img@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}
}

@media screen and (min-width:768px) and (max-width:1199px){
.main {
    padding: 118px 0;
    flex-direction:column;
    display: flex;
    align-items: center;
    background-image: url("../Images/Hero/Header\ img@1x.jpg"), url("../Images/Hero/Header\ img@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    
}

@media screen and (min-width:1200px){
.main {
    max-width: 1600px;
    padding: 200px 0 200px 0;
    flex-direction:column;
    display: flex;
    align-items: center;
    height: 600px;
    background-image:url("../Images/Hero/Header\ img@1x.jpg"), url("../Images/Hero/Header\ img@2x.jpg");
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
    margin: 0 auto;
}

@media screen and (min-width:1200px) {
    .container-hero{
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    }
}
.container__non--flex {
    max-width: 1200px;
      margin: 0 auto;
    justify-content: center;  
}

}
