// .gallery {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding-bottom: 60px;
// }

// .gallery__list {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding-bottom: 60px;
// }

// .section__gallery{
// background-color:var(--crew-background);
// }

// .gallery__photo {
//     width: 450px;
//     height: auto;
//     margin-bottom: 10px;
// }

//  .gallery__member {
//  font-weight: 500;
//  font-size: 16px;
//  line-height: 1.172;
//  text-align: center;
//  letter-spacing: 0.03em;
//  color:var(--black-color);
//     margin-bottom: 10px;
//  }

//  .gallery__member--stand {
//          text-align: center;
//     width: auto;
//     color: var(--address-color);
//     margin-bottom: 16px;
//     font-weight: 500;
//  }

//  .gallery__media {
//     display: flex;
//     align-items: center;
//     width: 206px;
//     margin: auto;
//     margin-bottom: 24px;
//  }

//  .gallery__media--list {
//      margin-right: 10px;
//  }

//  .gallery__media--link {
//     display: flex;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
//     align-items: center;
//     justify-content: center;
//     fill:var(--icon-color);
//     background-color: var(--white-color);
//     &:hover,
//     &:focus {
//         fill:var(--white-color);
//     background-color:var(--main-color)
//     }
// }

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.section__gallery {
    background-color:var(--crew-background);
}

.gallery__list {
    display: block;
    background-color: var(--white-color);
    list-style-type:none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 450px;
    height: auto;
    &:not(:last-child){
    margin-bottom:30px}  
}
.gallery__photo {
width: 450px;
height: auto;
}
.gallery__member {
font-weight: 500;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
padding-top: 30px;
color:var(--black-color);
}
.gallery__member--stand {
font-weight: 400;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
padding: 10px 0 16px;
color: var(--description-color);
}
.gallery__media {
    display: flex;
    align-items: center;
    width: 206px;
    margin: auto;
    margin-bottom: 24px;
}
.gallery__media--list {
    display: flex;
    list-style-type: none;
    &:not(:last-child){
    margin-right: 10px;
    }
}
.gallery__media--link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill:var(--icon-color);
    background-color: var(--white-color);
    &:hover,
    &:focus {
        fill:var(--white-color);
    background-color:var(--main-color)
    }
}
.gallery__media--icon:hover {
    fill: var(--white-color);
}