.description {
    padding-top: 90px;
    justify-content: space-evenly;
    flex-basis: calc(100% / 4 -30px);
    display: flex;
}

.description__list {
    padding-right: 30px;
    list-style-type: none;
    width: 270px;
}

.description__icon {
    width: 270px;
    height: 120px;
    background-color: var(--background-team);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: var(--crew-background);
}

.description__name{
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--black-color);
margin-bottom: 10px;
}
.description__text{
display: block;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--address-color);
}