

@media screen and (max-width:767px){
    .heading__icon,
    .heading__item,
    .heading__contact {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .heading__icon {
    margin-right: 10px;
    &:focus {fill: var(--main-color);}
}

    .heading__item {
    display: flex;
    position: absolute;
    fill:var(--address-color);
    top: 21px;
    right: 15px;
    &:focus {fill: var(--main-color);}
    &:last-child {
        top: 45px;
        right: 48px;
    }
}

    .heading__contact {
    color:var(--address-color);
    display: inline;
    align-items: center;
    &:focus{
        color: var(--main-color);
    }  
}
}

@media screen and (min-width:1200px) {
    .heading__icon {
    margin-right: 10px;
    &:hover,
    &:focus {fill: var(--main-color);}
}

.heading__item {
    display: flex;
    align-items: center;
    justify-content: center;
    fill:var(--address-color);
    &:hover,
    &:focus {fill: var(--main-color);}
    &:not(:last-child) {margin-left: 313px;}
    &:last-child {margin-left: 30px;}
}

.heading__contact {
    color:var(--address-color);
    display: inline;
    align-items: center;
    &:hover,
    &:focus{
        color: var(--main-color);
    }  
}
}