.main__text {
display: block;
text-align: center;
width: 696px;
height: 120px;
margin-bottom: 30px;
font-size: 44px;
align-items: center;
font-weight: 900;
line-height: 1.363;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
}
