
@media screen and (max-width:767px){
.main__text {
padding: 0 40px;
display: block;
text-align: center;
width: 100%;
margin-bottom: 30px;
font-size: 26px;
align-items: center;
font-weight: 900;
line-height: 1.363;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
}
}

@media screen and (min-width:768px){
.main__text {
padding: 0 175px;
display: block;
text-align: center;
width: 100%;
margin-bottom: 30px;
font-size: 26px;
align-items: center;
font-weight: 900;
line-height: 1.363;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
}
}