.nav {
    display: flex;
}

.nav__list {
    display:flex;
    align-items: center;
}

.decoration {
    list-style: none;
}

@media screen and (min-width:480px){
    .nav,
    .nav__list,
    .decoration {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .nav,
    .nav__list,
    .decoration {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .nav,
    .nav__list,
    .decoration {
        display: none;
    }
}