
@media screen and (max-width:767px){
    .nav,
    .nav__list,
    .decoration {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
.nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 232px;
}

.nav__list {
    display:flex;
    align-items: center;
}

.decoration {
    list-style: none;
}
}

@media screen and (min-width:1200px) {
.nav {
    display: flex;
    margin-left:93px;
}

.nav__list {
    display:flex;
    align-items: center;
}

.decoration {
    list-style: none;
}
}