:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
   --main-color: #2196F3;
   --black-color:#212121;
   --white-color:#FFFFFF;
   --address-color:#757575;
   --description-color:#2F303A;
   --crew-background: #F5F4FA;
   --icon-color:#AFB1B8;
   --border-clients:#AFB1B8;
   --media-bgr-footer:rgba(255, 255, 255, 0.1);
   --hover-portfolio: rgba(33, 150, 243, 0.9);
   --header-underline-border: #ECECEC;
}